Body {
  background-color: grey;
  display: flex;
  height: 20vh;
}

.weatherBox {
  display: flex;
  height: -20vh;
}

h1 { 
  color:black ;

}

.temp {
  color:  white; 
}

.cloudy {
  color: white;
}

.humidity {
  color: white;
}

.wind {
  color: white;
}

h4 {
  font-size: x-large;
}

#fiveDay { 
  color: white;
  display: flex;
  justify-content: right;
  padding: 2.5rem;
  word-spacing: 4cm;
  font-size: medium;
}